@font-face {
    font-family: 'Avenir Next Regular';
    src: url('/storage/fonts/AvenirNext.eot');
    src:
        url('/storage/fonts/AvenirNext-Regular.otf') format('opentype');
        url('/storage/fonts/AvenirNext-Regular.woff') format('woff');
        url('/storage/fonts/AvenirNext-Regular.svg#filename') format('svg');
}

@font-face {
    font-family: 'Treasure Map Deadhand';
    src: url('/storage/fonts/TreasureMapDeadhand.eot');
    src:
        url('/storage/fonts/TreasureMapDeadhand.ttf') format('opentype');
        url('/storage/fonts/TreasureMapDeadhand.otf') format('opentype');
        url('/storage/fonts/TreasureMapDeadhand.woff') format('woff');
        url('/storage/fonts/TreasureMapDeadhand.svg#filename') format('svg');
}

* {
    font-family: 'Treasure Map Deadhand', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}

a:hover {
    background-color: orange;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

a:link, a:visited {
    background-color: #FFA500;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: red;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button:hover {
    background-color: blue;
}

.parallax {
    /* The image used */
    background-image: url("https://i.ytimg.com/vi/nxF7yu2_RKA/maxresdefault.jpg");
    /* Set a specific height */
    min-height: 300px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax {
    /* The image used */
    background-image: url("https://i.ytimg.com/vi/nxF7yu2_RKA/maxresdefault.jpg");
    /* Set a specific height */
    min-height: 300px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 3000px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}